
@{
    ViewBag.Title = "DragAndDrop";
}

<center><div><h2>Le jeu se termine dans <span id="time">01:00</span> minutes!</h2></div></center>
<center><div id="goodCount"><h3></h3></div></center>
<br />
<div><center><h2 id="question"></h2></center></div>
<br /><br />
<!--Remove the below comments if you want to drop-->
<!-- 
    <div id="badanswer1" class="draggable drag-drop"></div>
    <div id="goodanswer" class="draggable drag-drop"></div>
    <div id="badanswer2" class="draggable drag-drop"></div>
    <div id="badanswer3" class="draggable drag-drop"></div>
-->

<!--Elements will come back automaticly to the "center" element. More cool for demo-->
<center>
    <div id="badanswer1" class="draggable drag-drop"></div>
    <div id="goodanswer" class="draggable drag-drop"></div>
    <div id="badanswer2" class="draggable drag-drop"></div>
    <div id="badanswer3" class="draggable drag-drop"></div>
</center>

<div id="inner-dropzone" class="dropzone"><center>Résultat</center></div>


@section Scripts {
    <script src="~/Scripts/DragAndDrop/interact.min.js"></script>
    <script src="~/Scripts/DragAndDrop/DragAndDropTest.js"></script>
}