
@{
    ViewBag.Title = "DragAndDrop";
}

<center><div>Le jeu se termine dans <span id="time">01:00</span> minutes!</div></center>
<br />
<center><div>ScopeTimer <span id="scopeTimer"></span> swag!</div></center>

<div id="no-drop" class="draggable drag-drop"> #no-drop </div>

<div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>

<div id="inner-dropzone" class="dropzone">Résultat</div>


@section Scripts {
    <script src="~/Scripts/DragAndDrop/interact.min.js"></script>
    <script src="~/Scripts/DragAndDrop/DragAndDropTest.js"></script>
}