
@{
    ViewBag.Title = "DragAndDrop";
}

<center><div>Le jeu se termine dans <span id="time">01:00</span> minutes!</div></center>
<center><div>ScopeTimer <span id="scopeTimer"></span> swag!</div></center>
<br />
<center><h2>Qui est le président de la République Française ?</h2></center>

<div id="no-drop" class="draggable drag-drop">Barak Obama</div>
<div id="yes-drop" class="draggable drag-drop">François Hollande</div>
<div id="no-drop" class="draggable drag-drop">Angela Merkel</div>
<div id="no-drop" class="draggable drag-drop">Justin Bieber</div>


<div id="inner-dropzone" class="dropzone">Résultat</div>


@section Scripts {
    <script src="~/Scripts/DragAndDrop/interact.min.js"></script>
    <script src="~/Scripts/DragAndDrop/DragAndDropTest.js"></script>
}