
@{
    ViewBag.Title = "DragAndDrop";
}

<h2>DragAndDrop</h2>
<p><div class="draggable"></div></p>
<p></p>

@section Scripts {
    <script src="~/Scripts/DraggleTest.js"></script>
    <script src="~/Scripts/draggabilly.pkgd.js"></script>
}