@{
    ViewBag.Title = "Index";
}

<center>
    <a href=@Url.Action("DragAndDrop", "Home" )><h2>Glisse Et C'est Gagné</h2><br /><img src="~/Medias/Images/drag-and-drop.png" style="width: 500px;" /></a>
    <a href="~/Memory_ItSchool/index.html"><h2>Jeu De Memory</h2><br /><img src="~/Memory/img/logo.png" /></a>
    <a href=@Url.Action("QuizCustomizer", "Home" )><h2>Customisez le Drag & Drop</h2><br /></a>
    <a href="~/TypeScriptGame/index.html"><h2>Attrape Boite</h2></a>
</center>

