@{
    ViewBag.Title = "Index";
}

<center>
    <h2> Glisse Et c'est Gagné </h2>
    <h3>Glisse et dépose les bonnes réponses afin de gagner la partie</h3>
    <a href=@Url.Action("DragAndDrop", "Home")><img src="~/Medias/Images/drag-and-drop.png" style="width: 500px;" /></a>
</center>

